
body {
    font-family: Arial, sans-serif;
}
header {
    background-image: url('background.jpg'); /* Add a background image */
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
header h1 {
    font-size: 3rem;
    color: #fff;
}
header p {
    font-size: 1.5rem;
    color: #fff;
}
section {
    padding: 40px 0;
}
.jumbotron {
    background-color: #007BFF;
}
.jumbotron h1, .jumbotron p {
    color: #fff;
}
#about img {
    max-width: 100%;
}
#education ul, #skills ul {
    list-style-type: none;
    padding: 0;
}
#education li, #skills li {
    margin-bottom: 10px;
}
#testimonials {
    background-color: #F8F9FA;
}
.card {
    border: none;
    background-color: transparent;
}

.try {
    font-size: 16px;
}

p{
    font-size: 14px;
}
h2{
    font-size: 22px;
    color: #007BFF !important;
}
li{
    font-size: 16px;
}
.card-body {
    height: 210.99px;
}